@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
    @apply w-2;
    @apply h-3
  }
  
  ::-webkit-scrollbar-track {
    @apply bg-nav-blue rounded-full;
  }
  
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-600 rounded-full;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-black;
  }

@keyframes slide{
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}